html{
    background-image: url("assets/background.png");
    background-attachment: fixed;
}

body{
    display: flex;
    font-family: 'Nova Square', cursive;
}

header{
    position: absolute;

    top: 20%;
}

.yellow{
    color: yellow;
    transition: 1s ease;
}

.yellow:hover{
    background-color: white;
    border-radius: 4px;
    color: orange;
    
    transition: 1s;
}

.blue{
    color: blue;
    transition: 1s ease;
}

.blue:hover{
    background-color: white;
    border-radius: 4px;
    color: cyan;

    transition: 1s;
}

/* NAVBAR */

.navbar{
    height: 100%;
    width: 100%;

    padding: 10px;
    margin: 10px 2px 0px -8px;

    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: black;   
    border: 2px solid white;
    border-left: 2px solid black;
}

.icons-navbar{
    width: 50px;
    height: 50px;

    margin-top: 20px;

    text-decoration: none;
}

/* MAIN */

.container{
    display: flex;
    margin: 10px 40px;
}

.carde-left-static{
    width: 600px;

    position: absolute;
    left: 150px;
    padding: 20px;    

    background-color: rgba(88, 93 , 87, 0.3);
    border-radius: 8px;
    border: solid 2px white;

    color: white;
    text-align: center;
}

.carde-left-static .header-carde{
    margin-bottom: 50pxq;
}

.token{
    width: 100px;
    height: 100px;

    margin-bottom: 50px;

    border-radius: 64px;
    border: solid 2px black;
/*  box-shadow: 1px; */
}


.carde:hover{
    background-color: red;
    transition: 1s;
}

img{
    width: 150px;
    height: 200px;

    color: rgba(0, 0, 0,0);
}




/* IMG DOC */

.container-img {
    width: 100%;

    position: relative;
    margin: 10px;

  }
  
  .image {
    width: 100%;
    height: auto;

    display: block;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .centre-img {
    top: 50%;
    left: 50%;
    position: absolute;

    text-align: center;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
    opacity: 0;

  }
  
  .container-img:hover .image {
    opacity: 0.3;
  }
  
  .container-img:hover .centre-img {
    opacity: 1;
  }
  
  .text-img {
    padding: 2px 4px;

    background-color: #4B4545;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid white;
    text-decoration: none;
  }

/*HREF*/

.link-reseau {
    align-items: center;
    margin: auto;

    align-items: center;

    border-radius: 16px;
    background-color: black;   
    border: 2px solid white;
    text-decoration: none;
}

.link-reseau img {
    width: 40px;
    height: 40px;

    padding: 4px;
    margin: 10px;

    border-radius: 4px;
}

.link-reseau img:hover {
    background-color: rgb(54, 52, 52);

    transition: 1s ease;
}











/* Spooky */
#flex{
    width: 100px;
    height: 200px;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 7;
}



*:after,
*:before{
    box-sizing: inherit;
}

#spooky{
    margin: 5% auto;
    width: 40%;
    height: 40%;
    animation: floaty 2s infinite;
    z-index: 7;
}

#spooky #body{
    position: relative;
    margin: 50px auto 0;
    width: 90px;
    height: 110px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after{
    content: '';
    position: absolute;
    top: 65px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty .2s infinite;
}

#spooky #body:before{
    left: -9px;
}

#spooky #body:after{
    right: -9px;
}


#spooky #body #eyes{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 45px 0 0;
    width: 45px;
    height: 20px;
}


#spooky #body #eyes:before,
#spooky #body #eyes:after{
    content: ' ';
    display: block;
    width: 15px;
    height: 15px;
    background: #252c49;
    border-radius: 50%;    
}

#spooky #body #mouth{
    background: #252c49 ;
    margin: 0 auto 0;
    width: 15px;
    height: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


#spooky #body #mouth:before{
    content: ' ';
    display: block;
    background: #FFF;
    margin-left: 7px;
    width: 5px;
    height: 5px;
}


#spooky #body #feet{
    position: absolute;
    display: flex;
    bottom: -9px;
    width: 90px;
    height: 18px;
}



#spooky #body #feet >*,
#spooky #body #feet::before,
#spooky #body #feet::after{
    content: ' ';
    width: 18px;
    height: 18px;
    background: #f2fbf1;
    border-radius: 50%;
}

#shadow{
    margin: 50px auto -50px;
    background: #353333;
    width: 90px;
    height: 20px;
    border-radius: 50%;
    animation: zoomy 2s infinite;
}

@keyframes floaty {
    0%, 100%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-10px);
    }
}

@keyframes zoomy {
    0%, 100%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(0.8);
    }
}
